html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", sans-serif;
  background-color: #181818;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button img {
  pointer-events: none;
}

input {
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #f3f6f9;
  opacity: 0.5;
}

header {
  margin-bottom: -2px;
}

.container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.add__app {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

main .add__app {
  height: 600px;
  overflow-y: auto;
}

.filters {
  display: flex;
}

.filters__title {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #f3f6f9;
  padding: 10px 24px;
  background-color: #6532f8;
  border-radius: 200px;
}

h1 {
  font-size: 120px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #f3f6f9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add__app::-webkit-scrollbar {
  width: 10px;
}

.add__app::-webkit-scrollbar-track {
  background-color: #3a3939;
  border-radius: 20px;
}

.add__app::-webkit-scrollbar-thumb {
  background-color: #6532f8;
  border-radius: 20px;
}

.add__app-form {
  display: flex;
  gap: 20px;
}

.add__app-input {
  width: 411px;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.02em;
  padding: 15px 5px;
  color: #f3f6f9;
  border-bottom: 2px solid #3a3939;
}

.btn__add-film {
  display: flex;
  width: 62px;
  height: 62px;
  padding: 16px;
  background-color: #6532f8;
  border-radius: 50%;
  border: none;
}

.btn__add-film img {
  width: 100%;
}

.col__left {
  width: 100%;
}

.film__title {
  width: 100%;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #f3f6f9;
}

.film__title:not(:read-only) {
  color: #6532f8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.btn img {
  width: 100%;
}

.btn__edit-film {
  width: 60px;
  height: 60px;
}

.btn__delete-film {
  width: 50px;
  height: 50px;
}

.btn__edit-film:hover {
  background-color: green;
  border-radius: 50%;
}

.btn__delete-film:hover {
  background-color: purple;
  border-radius: 50%;
  opacity: 0.7;
}

.btn__save-edit {
  width: 65px;
  height: 65px;
}

.hidden {
  display: none;
}

.add__app-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3px;
}

.empty__item-list {
  width: 500px;
}

.empty__item-list img {
  width: 100%;
}

.add__app-film {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 20px;
  background-color: #3a3939;
  border-radius: 10px;
}

.add__app-film .col__left,
.add__app-film .col__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn__check-film {
  width: 39px;
  height: 39px;
}

.btn__check-film img {
  background-color: yellow;
  border: none;
  border-radius: 50%;
  object-fit: none;
}

.btn__check-film:hover img {
  background-color: chartreuse;
}

.checked {
  text-decoration-line: line-through;
  color: #f3f6f9;
  background-color: #3a3939;
  opacity: 0.3;
}

.checked .btn__check-film img {
  background-color: tomato;
}

@media (max-width: 767px) {
  .add__app {
    row-gap: 10px;
    padding: 10px;
  }

  .filters__title {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #f3f6f9;
    padding: 10px 24px;
    background-color: #6532f8;
    border-radius: 200px;
  }

  h1 {
    font-size: 70px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #f3f6f9;
    margin: 0;
  }

  .add__app::-webkit-scrollbar {
    width: 10px;
  }

  .add__app::-webkit-scrollbar-track {
    background-color: #3a3939;
    border-radius: 20px;
  }

  .add__app::-webkit-scrollbar-thumb {
    background-color: #6532f8;
    border-radius: 20px;
  }

  .add__app-form {
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .add__app-input {
    width: 100%;
    font-size: 30px;
    line-height: 34px;
    padding: 0 10px;
  }

  .btn__edit-film {
    width: 30px;
    height: 30px;
  }

  .empty__item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .empty__item-list img {
    width: 100%;
  }

  .add__app-film {
    padding: 20px 20px;
  }

  .add__app-film .col__left,
  .add__app-film .col__right {
    gap: 15px;
  }
}

@media (max-width: 767px) {
  .add__app {
    row-gap: 5px;
    padding: 0;
  }

  main .add__app {
    height: 240px;
    padding: 5px;
  }

  .filters__title {
    font-size: 15px;
    line-height: 5px;
    padding: 10px 10px;
  }

  h1 {
    font-size: 42px;
  }

  .add__app::-webkit-scrollbar {
    width: 5px;
  }

  .add__app-form {
    gap: 10px;
  }

  .add__app-input {
    font-size: 25px;
    padding: 0 5px;
  }

  .btn__add-film {
    width: 52px;
    height: 52px;
  }

  .btn__edit-film {
    width: 30px;
    height: 30px;
  }

  .btn__delete-film {
    width: 20px;
    height: 20px;
  }

  .add__app-film {
    padding: 10px 10px;
  }

  .add__app-film .col__left,
  .add__app-film .col__right {
    gap: 10px;
  }
}
